.Container {
  width: 500px;
  overflow: auto;
  border: 5px solid #01f25a;
  border-radius: 10px;
  background-color: #0f0d0d;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  .Container {
    width: 390px;
  }
}

@media (max-width: 470px) {
  .Container {
    width: 300px;
  }
}

@media (max-width: 390px) {
  .Container {
    width: 250px;
  }
}

@media (max-width: 310px) {
  .Container {
    width: 200px;
  }
}
